.app-container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-auto-columns: 1fr;
  height: 100%;
}
a {
  text-decoration: none;
}
header {
  display: flex;
  align-items: center;
  grid-area: header;
  background-color: #080606;
  color: white;
  padding: 0.5rem;
}
header a {
  color: white;
}
main {
  grid-area: main;
}

footer {
  grid-area: footer;
  background-color: #080606;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
a:hover {
  color: rgb(204, 142, 120);
}

.content {
  display: flex;
  flex-wrap: wrap;
}
.main {
  flex: 3 60rem;
}

.sidebar {
  flex: 1 20rem;
}
